@model L2MVC.MVC.Models.AddVehicleMakeViewModel

@{
}

<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Abrv</label>
        <input type="text" class="form-control" asp-for="Abrv">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>