@model L2MVC.MVC.Models.VehicleMakeViewModel[]
@{
}

<h1>Makers</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Abrv</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var make in Model)
		{
		<tr>
			<td>@make.Id</td>
			<td>@make.Name</td>
			<td>@make.Abrv</td>
			<td><a href="VehicleMake/Update/@make.Id">edit</a></td>
		</tr>
		}
	</tbody>
</table>