@model L2MVC.MVC.Models.UpdateVehicleMakeViewModel
@{
}

<form method="put" action="Update">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Abrv</label>
        <input type="text" class="form-control" asp-for="Abrv">
    </div>

    <button name="X-HTTP-Method-Override" type="submit" class="btn btn-primary" asp-action="Update" asp-controller="VehicleMake">Submit</button>

    <button name="X-HTTP-Method-Override" type="submit" class="btn btn-danger" asp-controller="VehicleMake" asp-action="Delete">Delete</button>
    
</form>